
.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 10px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffa500;
}

.lists {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

h2 {
  font-size: 24px;
  margin: 0 40px;
}

li {
  list-style: none;
  margin: 10px 0;
}


table, th, td {
  display: inline;

}

td{
  margin-right: 30px;
}
